# IntelliJ project files
.idea
out
gen

# Compiled Python files
*.pyc

# Coverage output file
.coverage
.cache*

# Database file
mudima.db

# OSx Stuff
*.DS_Store

# Npm debug log
client/npm-debug.log

# Html Coverage
htmlcov